<html>
<head>
<title>PXQZ</title>
</head>
<body>
<div style="text-align:center">
  <h1>PXQZ</h1>
  <form method="post" action="/">
  <textarea name='t' cols='80' rows='24'>{{data}}</textarea><br>
  <input type="submit" value="Paste!">
  </form>
</div>
There's a commandline tool written in perl. It takes the paste on stdin and gives you a url on stdout. The url points to the paste, served as text/plain. You can access it <a href="/script">here</a> or just run <pre>curl p.xqz.ca/script > pxqz;chmod 755 pxqz; su -c "mv pxqz /usr/local/bin"</pre> to download it and put it in your path.
<br>
<br>
In addition to the commandline tool written in perl, there is an emacs minor mode to make it easy to post a buffer using "C-x p". It is available <a href="/emacs">here</a>; easily downloadable into one's .emacs.d just like every other paste.</body>